* {
    padding: 0;
    margin: 0;
    border: 0; 
    font-family: 'oswald';
    }
*, *:before, *:after {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    }
:focus.active {
    outline:none;
    }
a:focus,a:active {
    outline:none;
    }
nav,footer,header,aside {
    display:block;}
html,body {
    height:100%;
    width:100%; 
    font-size:100%;
    line-height:1;
    font-size:14px;
   -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    }
input,button,textarea {
    font-family:inherit;
    }
button {
    cursor:pointer;
    }
a {
    text-decoration: none;
    }
ul li {
    list-style: none;
    }
/* header */
.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    position: fixed;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header__logo {
    flex: 0 0 100px;
    position: relative;
    z-index: 5;
    filter: invert(1);
}
.header__logo img{
    max-width: 100%;
    display: block;
}
.header__logo img:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease-out 100ms;
    overflow: hidden;
}
/* for small devices only. hide on big */
.header__burger {
    display: none;
}
/* for small devices only. hide on big */
.header__list {
    display: flex;
    position: relative;
    z-index: 7;
}
.header__list li {
    list-style: none;
    margin-left: 25px;
}
.header__list li::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 50%;
    height: 2px;
    background: #4CAF50;
}
.header__list a:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease-out 100ms;
}
.header__link {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
/* JS burger menu */
.header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.header__burger.active span {
    transform: scale(0);
}
/* JS end */
/* SMALL DEVICES */
@media (max-width:767px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {
        height: 60px;
    }
    .header__logo {
        flex: 0 0 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__list li::after {
        display: none;
    }
    .header__burger span{
        position: absolute;
        background-color: white;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before {
        top: 0;
    }
.header__burger:after {
        bottom: 0;
    }
.header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        overflow: auto;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
.header__menu.active {
        top: 0;
    }
.header__list {
        margin-top: 50px;
        display: block;
    }
.header__list li {
        margin-bottom: 20px;
    }
.header__link {
        font-size: 24px;
    }
}
/* header */
.main-content {
    background-image: url(../img/image-107957--3397303.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    position: relative;
}
.main-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
.main-text h1 {
      font-size: 72px;
      font-weight: 400;
      padding-bottom: 25px;
  }
.main-text p {
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
  }
.down-btn {
    padding-top: 150px;
}
.down-btn:hover :hover {
    color: lightgray;
}
.down-main {
    color: white;
    font-size: 72px;
}
@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.fas:hover
{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
/* main */
.side-padding {
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.section-title {
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    padding-top: 100px;
    font-size: 48px;
    padding-bottom: 70px;
}
.section-title::after {
    content: "";
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 45px;
    height: 3px;
    background: #4CAF50;
}
.us-desc {
    line-height: 1.5;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 50px;
}
.team-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.team-img {
    width: 100%;
    filter: grayscale(1);
}
.team-item {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    position: relative;
}
.team-desc {
    position: absolute;
    display: block;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    color: #000000;
    width: 100%;
    text-align: center;
    z-index: 1;
}
.img-title {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}
.img-title::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 40px;
    height: 3px;
    background: #000000;
}
.job-title {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 18px;
}
.img-text {
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    color: black;
}
/* portfolio */
.portfolio {
    background-color: #FBFBFB;
}
/* carousel */
.w-100 {
    max-height: 500px;
    filter: grayscale(15%) sepia(7%) brightness(51%);
-webkit-filter: grayscale(15%) sepia(7%) brightness(51%);
-moz-filter: grayscale(15%) sepia(7%) brightness(51%);
}
.portfolio-btn {
    margin: 25px;
}
.ptfl-btn {
    opacity: 0.9;
    padding: 20px 40px;
    background: rgb(69,72,77);
background: -moz-linear-gradient(top,  rgb(69,72,77) 0%, rgb(0,0,0) 100%);
background: -webkit-linear-gradient(top,  rgb(69,72,77) 0%,rgb(0,0,0) 100%);
background: linear-gradient(to bottom,  rgb(69,72,77) 0%,rgb(0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.5px;
    transform: translate(-50%, -50%);
}
.ptfl-btn:hover {
    background-color: black;
    color: white;
}
/* carousel end */
/* adaptive */
@media (max-width:767px) {
    .main-text h1 {
        font-size: 50px;
    }
    .main-text  p {
        font-size: 15px;
    }
    .down-btn {
        display: none;
    }
    .w-100 {
        height: 500px;
    }
}
@media (max-width:1220px) {
    .side-padding {
        margin: auto 20px;
    }
}